@import "fonts.less";
@import "variables.less";
@import "mixins.less";
@import "mbtn.less";
@import 'solarized-dark.less';
@import "gist.less";

html {
  height: 100%;
  width: 100%;
}

body {
  background: @bg-color;
  background: radial-gradient(circle, lighten(@bg-color, 5%), darken(@bg-color, 2%));
  color: @color;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  font: @font;
}

#content {
  overflow-y: hidden;
}

h1, h2, h3, h4 ,h5, h6, .tag-line, footer {
  font-family: @serif;
  font-weight: 300;
}

header, footer, article {
  .pad-content();
}

article, footer .content {
  .content();
}

header {
  padding-bottom: .8em;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1em;
}
h1, h2 {
  margin: 2em 0 .666em;
}

h3, h4 {
  margin: 1.2em 0 .6em;
}

h5, h6 {
  margin: 1em 0 .3em;
}

img {
  padding: 0;
  margin: 0;
}

h2 { font-size: 1.5em }
h3 { font-size: 1.4em }
h4 { font-size: 1.3em }
h5 { font-size: 1.2em }
h6 { font-size: 1.1em }

#credit {
  text-align: center;
  font-size: .8em;
  color: lighten(@color, 30%);
  text-shadow: none;
  margin: 0 auto;
  padding: 5em 0;
}

pre, code {
  font-family: monospace;
}

p > code { word-wrap: break-word; }

@ul-padding: 2.8em;
ul, ol {
  margin: .6em 0 1.2em;
  padding: 0 0 0 @ul-padding;
  ul, ol {
    margin: 0;
    padding: 0 0 0 (@ul-padding / 2);
  }
}

hr {
  @hr-inset: 3em;
  border: 0;
  height: 1px;
  background-color: lighten(@color, 76%);
  margin: 2em 0 1.75em;
}

p {
  margin: 0 0 .5em;
}

article {
  .light-copy();
  @pre-padding: .4em;
  & > pre {
    border-radius: 3px;
    box-shadow: inset 0 0 (2 * @pre-padding) rgba(15, 15, 15, .87), 0 0 @pre-padding rgba(24, 24, 24, .34);
    border: 3px solid @sol_2;
    font-size: 12pt;
    padding: @pre-padding;
    text-shadow: none;
    overflow-x: auto;
    white-space: pre;
    word-wrap: normal;
    code {
      padding: (@pre-padding - .2em) @pre-padding;
      .clearfix();
    }
  }

  h1:first-child {
    padding: 1em @content-padding 0.5em;
    margin: 0;
    line-height: 1.4em;
  }

  & > img, & > p > img {
    max-width: 100%;
    display: block;
    margin: 0;
  }
}
